body
{
    margin: 2% 4%;
}

/*
    Appling grid layout to the page
*/
.grid-container
{
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar content"
        "footer footer";
        grid-template-columns: 0.8fr 5fr;
        grid-template-rows: 1fr 6fr 0.5fr;
        gap: 2vw;

    
    position: relative;
    min-height: 94vh;
}

header
{
    grid-area: header;
}

aside
{
    grid-area: sidebar;

    border-right: 0.1vw solid black;
    padding-right: 1vw;
}

.content-container
{
    grid-area: content;
    margin-left: 0.5vw;
}

footer
{
    grid-area: footer;
}



.sidebar-nav
{
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.small-text
{
    font-size: 0.9rem;
}

.all-borrowed-books-container
{
    margin: 4% 0% 0% 1%
}

h3
{
    font-size: 1.3rem;
}

h4
{
    font-size: 1.1rem;
}

.book-author
{
    font-size: 1.1rem;
}

.sidebar-section
{
    margin-bottom: 1%;
}