.sidebar-nav
{
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.small-text
{
    font-size: 0.9rem;
}

.all-borrowed-books-container
{
    margin: 4% 0% 0% 1%
}

h3
{
    font-size: 1.3rem;
}

h4
{
    font-size: 1.1rem;
}

.book-author
{
    font-size: 1.1rem;
}

.sidebar-section
{
    margin-bottom: 1%;
}