{% extends "base_generic.html" %}

{% block content %}
    <h1>Title: {{ book.title }}</h1>

    <p>
        <strong>Author:</strong>
        <a href="{{ book.author.get_absolute_url }}"> {{ book.author }}</a>
        <!-- author detail link not yet defined -->
    </p>

    <p>
        <strong>Summary:</strong>
        {{ object.summary }}
    </p>

    <p>
        <strong>ISBN</strong>
        {{ book.isbn }}
    </p>

    <p>
        <strong>Language</strong>
        {{ book.language }}
    </p>

    <p>
        <strong>Genre</strong>
        {{ book.genre.all|join:", " }}
    </p>

    {% if perms.catalog.can_modify_book_data %}
        <section>
            <a href="{% url 'book-update' book.pk %}">
                Update book data
            </a>

            <br>

            <a href="{% url 'book-delete' book.pk %}">
                Delete book
            </a>
        </section>
    {% endif %}

    <div style="margin: 20px 0 0 20px">
        <h4>Copies</h4>

        {% if book.bookinstance_set.all.0 %}
            <!-- 
                bookinstance_set is a method for getting a model associated with 
                the model we are using based on primary key
            -->
            {% for copy in book.bookinstance_set.all %}
                <hr>
                <p class="
                {% if copy.status == 'a' %}text-success
                {% elif copy.status == 'm' %}text-danger
                {% else %}text-warning
                {% endif %}
                ">
                    {{copy.get_status_display }}
                </p>

                {% if copy.status != 'a' and copy.status != 'r' %}
                    <p>
                        <strong>Due to be returned:</strong>
                        {{ copy.due_back }}
                    </p>
                {% endif %}

                <p>
                    <strong>Imprint:</strong>
                    {{ copy.imprint }}
                </p>

                <p class="text-muted">
                    <strong>Id:</strong>
                    {{ copy.id }}
                </p>
            {% endfor %}
        {% else %}
            <p>There are no copies of the book in the library</p>
        {% endif %}


    </div>
{% endblock %}